.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    max-width: 600px;
}

.thead {
    background-color: #f2f2f2;
}

.tr {
    border-bottom: 1px solid #ddd;
}

.th{
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}